:root {
    --oc1: #29293f;
    --bc1: #222236;
    --bc2: #222236;
    --bg1: #12121f;  
    --fc1: grey;  

    --wc1: rgb(15, 56, 15);
    --lc1: rgb(54, 4, 4);
    --pac1: #222236;
  }

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--fc1);
}
.app {
    height: 100vh;
    width: 100vw;
    background: var(--bg1);
}

/*div {
    outline: 1px solid black;
}*/

.title-section{
    text-align: center;
    height: 9vh;
    font-size: 6vh;
    outline: 1px solid var(--oc1);
    padding-top: 1vh;
}

.game-bar{
    width: 100vw;
    height: 7vh;
    overflow: hidden;
    outline: 1px solid var(--oc1)
}
.game-bar-left{
    float: left;
    margin-left: 1vw;
    font-size: 5.9vh;
}

.game-bar-right{
    float: right;
    margin-right: 1vw;
    font-size: 2.9vh;
    text-align: right;
}

.target-bar{
    width: 100vw;
    height: 5vh;
    overflow: hidden;
    outline: 1px solid var(--oc1)
}
.target-bar-left{
    float: left;
    margin-left: 1vw;
    font-size: 4.2vh;
}
.target-bar-right{
    float: right;
    margin-right: 1vw;
    font-size: 4.2vh;
}

.path-bar{
    width: 100vw;
    height: 3vh;
    overflow: hidden;
    outline: 1px solid var(--oc1)
}
.path-bar-left{
    float: left;
    margin-left: 1vw;
    font-size: 2.3vh;
}
.path-bar-right{
    float: right;
    margin-right: 1vw;
    font-size: 2.3vh;
}
.path-bar-right button {
    background-color: var(--bc2);
    font-size: 2vh;
    text-align: center;
}

.selection-cards {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    outline: 1px solid var(--oc1);
}

.selection-card {
    text-align: center;
    font-size: 5vh;
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
    outline: 1px solid var(--oc1);
}

.selection-card button {
    background-color: var(--bc1);
    font-size: 3vh;
    padding: 2vh 3vh;
    text-align: center;
    margin: 1vh 1vh;
    border-radius: 0.5em;
}


.lose-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    cursor: pointer;
}
.lose-overlay.visible{
    display: block;
}
.lose-card {
    background: var(--lc1);
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 1em;
}

.win-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    cursor: pointer;
}
.win-overlay.visible{
    display: block;
}
.win-card {
    background: var(--wc1);
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    border-radius: 1em;
}

.end-card-name{
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.end-card-path{
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin: 0 5% 0 5%;
}

.end-card-options{
    width: 50%;
    margin-left: calc(50% - 50%/2);
    height: 10%;
}

.end-card-options button{
    width: 100%;
    background-color: var(--pac1);
    font-size: 2.5vh;
    padding: 0.8vh 0.8vh;
    text-align: center;
    border-radius: 0.5em;
}

.game-section.disabled{
    /* TODO add js to disable keyboard */
    pointer-events:none;
}

