:root {
    --oc1: #29293f;
    --bc1: #222236;
    --bg1: #12121f;  
    --fc1: grey;
    --g1: #222236;
    --g2: #29293f;
    --g3: rgb(15, 56, 15);
  }
  
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--fc1);
}
.app {
    height: 100vh;
    width: 100vw;
    background: var(--bg1);
}

.title-section{
    text-align: center;
    height: 10vh;
    font-size: 6vh;
    padding-top: 0.5em;
}

.game-cards{
    display: flex;
    justify-content: space-around;
}

.game-card{
    aspect-ratio: 1/1.6;
    cursor: pointer;
    position: relative;
    width: 50vmin;  
    transition: transform .5s;
    transform-style: preserve-3d;
    transform-origin: center right;
}
.card-front{
    border-radius: 1em;
}

.card-back{
    background: linear-gradient(
        50deg,
        var(--g3) 33%,
        var(--g2) 66%,
        var(--g1) 100%
    );
    border-radius: 1em;
}

.card-content{
    position: relative;
    z-index: 2;
}

.card-content input[type="number"]
{
    font-size:3vh;
    width: 5vw;
    color:black;
}

.card-content-title{
    font-size: 5vh;
    margin-top: 2em;
}

.card-content-description{
    font-size: 3vh;
    margin: 2em;
    aspect-ratio: 1/1.3;
}

.card-content-settings{
    font-size: 3vh;
    margin: 0 2em 0 2em;
    aspect-ratio: 3.5/1;
}

.card-content-button{
    font-size: 3vh;
    height: 8vh;
}

.card-content-button button{
    background-color: var(--bc1);
    font-size: 3vh;
    height: calc(100% - 1em);
    width: calc(100% - 2em);
    border-radius: 0.5em;
    margin: 0 1em 1em 1em;
}


/* hover gradient */
.card-front:before{
    background: linear-gradient(
        130deg,
        var(--g1) 66%,
        var(--g2) 83%,
        var(--g3) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    border-radius: 1em;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease;
    width: 100%;
}
.card-front:hover:before {
    background-position: 100% 100%;
    border-radius: 1em;
}

/* card flipping */
.game-card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}
.card-front{
    height: 100%;
    width: 100%;
}
.card-back{
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
}
.card-face {
    position: absolute;
    text-align: center;
    backface-visibility: hidden;
}